/****** Script for SelectTopNRows command from SSMS  ******/
create database xs
create table username(
name varchar(50) null,
password1 varchar(50) null,
rq datetime null,
yj varchar(50)
)
create table daima(
id varchar(50) not null,
txt text not null,
name varchar(50) not null
)